.Banner {
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    color: #000000;
    background-color: #ffffff;
    border: 0.25vw solid #757575;
    border-radius: 2vw;
}