
.Exhibit {
    float: center;
    margin: 1vw;
    padding: 2vw 2vw 2vw 2vw;
    text-align: center;
    color: #000000;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%);
border: 0.25vw solid #003cff;
    border-radius: 2vw;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 1.75vw;
}

.ExhibitContent {
    margin: 0.5vw;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #000000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%);
    border: 0.25vw solid #003cff;
    border-radius: 2vw;
}
